<h1><%= "#{@person.first_name.capitalize} #{@person.last_name.capitalize}" %></h1>
<p><%= "Birthdate: #{@pretty_birthdate}" %> </p>
<p><%= "It looks like your number is #{@birth_path_num}!" %></p>

<div class="well">
  <p><%= "#{@message}" %></p>
</div>

